header {
    background-color: #0B406C;
    padding: 10px 10px 0px 10px;
}

body {
    margin: 0px;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #F7F7F7;
    color: #202020;
}

h1 {
    color: #FBB325;
    text-align: center;
    font-family: "Alfa Slab One", Impact, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    margin-block-start: 0.3em;
    margin-block-end: 0.4em;
}

#navbar {
    color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

header img {
    padding: 5px 20px;
}

.navbar-item {
    font-size: 13pt;
    padding: 10px 20px;
    transition: color 0.5s, background-color 0.5s;
    color: #F7F7F7;
    text-decoration: none;
}

.navbar-item:hover {
    color: #202020;
    background-color: #FBB325;
}

.navbar-selected {
    color: #202020;
    background-color: #F7F7F7;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

iframe {
    display: block;
    width: 80%;
    height: 75vh;
    margin: 1em auto;
}

#content {
    width: 60%;
    margin: 2em auto;
}

h2 {
    text-align: center;
    font-size: 1.75em;
    font-weight: 500;
}

.sponsor-message {
    text-align: right;
    font-weight: 400;
    font-style: italic;
    margin-top: 0.5em;
}

#us {
    width: 70%;
    margin: 2em auto;
}

.member-left {
    display: grid;
    grid-template-areas: 
        "image name name name name pronouns"
        "image roles roles roles roles roles"
        "image bio bio bio bio bio"
        "image bio bio bio bio bio"
        "image bio bio bio bio bio";
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1em;
    padding: 1.25em;
    row-gap: 0.25em;
    column-gap: 1em;
}

.member-right {
    display: grid;
    grid-template-areas: 
        "name name name name pronouns image"
        "roles roles roles roles roles image"
        "bio bio bio bio bio image"
        "bio bio bio bio bio image"
        "bio bio bio bio bio image";
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1em;
    padding: 1.25em;
    row-gap: 0.25em;
    column-gap: 1em;
}

.name {
    grid-area: name;
    font-size: 1.5em;
    align-self: end;
}

.pronouns {
    grid-area: pronouns;
    align-self: end;
}

.roles {
    grid-area: roles;
    color: #959595;
    border-bottom: 1.5px solid #959595;
    padding-bottom: 3px;
}

.image {
    grid-area: image;
    max-height: 250px;
}

.bio {
    grid-area: bio;
}

.diagram {
    max-width: 75%;
    max-height: 40%;
}

.centered-vert-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    flex-direction: column;  
    height: 100%;
    padding: 15px;
    margin: 0 0 20px 0;
    gap: 5px;
}

.centered-vert-container > img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}